# EditorConfig: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines
[*]
end_of_line = lf

# Matches multiple files with brace expansion notation
# Set default charset
[*.{ts}]
charset = utf-8

# indent using tabs
[*.ts]
indent_style = tab
tab_width = 4

# Indentation override for all JS under dist directory
[dist/**.js]
indent_style = space
indent_size = 2

# Matches the exact file package.json
[{package.json}]
indent_style = space
indent_size = 2