:root {
	--theme-color: #4781bb;
	--default-line-height: 1.2em;
}

body {
	padding: 0;
	margin: 0;
	font-family: "Segoe UI", "Open Sans", sans-serif;
	background-color: #eee;
}

/* ==== Layout ========================================= */

.center {
	max-width: 45rem;
	margin: 0 auto;
}

/* ==== Content ========================================= */

.content {
	padding: 2em;
}

#editor {
	padding: 2em;
	background-color: #fff;
}

#editor .ProseMirror:focus {
	outline: none;
}

/* ==== Basic Styles ==================================== */

p {
	text-align: justify;
	word-break: break-word;
	white-space: break-spaces;
	line-height: var(--default-line-height);
}